.feature-page-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 100px;
  grid-template-areas:
    'feature-1 feature-4'
    'feature-2 feature-4'
    'feature-3 feature-4'
    'feature-5 feature-4'
  ;
  margin-top: 100px;

  .feature-1 {
    grid-area: feature-1;
    padding-left: 140px;
    font-size: 90px;
    display: flex;
    align-items: center;

  }

  .feature-2 {
    grid-area: feature-2;
    padding-left: 140px;
    font-size: 32px;
  }

  .feature-3 {
    grid-area: feature-3;
    padding-left: 140px;
    font-size: 2.1em;
    display: flex;
    align-items: center;
    color: #0b64c1
  }

  .feature-4 {
    grid-area: feature-4;
    display: grid;
    place-items: start;

    img {
      width: 85%;
    }
  }

  .feature-5 {
    grid-area: feature-5;
    display: flex;
    align-items: center;

    img {
      width: 50%;
      padding-left: 140px;
    }
  }

}

.feature-page-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 200px 140px 0 140px;
  .f-text-1 {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 2.5fr;
    padding-bottom: 50px;
    align-items: center;
    h1 {
      font-size: 70px;
      border-right: rgb(190, 186, 186) 2px solid;
    }
    h3 {
      font-size: 20px;
      color: rgb(190, 186, 186);
      padding-left: 20px;
    }
  }
  .giver-div {
    border-right:rgb(190, 186, 186) 2px solid;
    padding-bottom: 50px;
    .giver-1-text {
      color: #0b64c1;

    }
    .giver-1-img {
      display: grid;
      place-content: center;
      place-items: start;
      img {
        width: 95%;
        border: rgb(190, 186, 186) 2px solid;
        border-radius: 25px
      }
    }
  }
  .taker-div {
    padding-bottom: 50px;
    .taker-1-text {
      color: #FA921F;
      padding-left: 40px;
    }
    .taker-1-img {
      .feature3 {
        margin-top: 15px
      }
      div {
        display: grid;
        place-content: center;
        place-items: end;
        img {
          width: 95%;
        }
        .feature2 {
          border-top:rgb(190, 186, 186) 2px solid;
          border-right:rgb(190, 186, 186) 2px solid;
          border-left:rgb(190, 186, 186) 2px solid;
          border-radius: 25px 25px 0px 0px;
        }
        .feature3 {
          border-radius: 25px;
        }
      }
    }
  }

}

.feature-page-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'feature-page3-img feature-page3-text'
  ;
  gap: 0px 50px;
  margin-top: 200px;

  img {
    width: 100%
  }

  .feature-page3-img {
    grid-area: feature-page3-img;
    display: grid;
    place-items: end;
    place-content: center;
    margin-left: 140px;
  }
  
  .feature-page3-text {
    grid-area: feature-page3-text;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 100px;
    font-size: 50px;
    padding-right: 140px;

    h1 {
      margin-bottom: 0px;
      border-top: 2px solid #e6e6e6;
      width: 90%;
    }
  }
}

.feature-page4-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 150px 0px;
  place-items: center;
  place-content: center;
  margin-top: 200px;

  section {
    display: grid;
    place-items: center;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
  }

  img {
    width: 150px
  }
}

@media only screen and (max-width: 1220px) {
  .feature-page-1 {
    .feature-1 {
      font-size: 3.5em;
      padding-left: 50px;
      padding-bottom: 30px;
    }
    .feature-2 {
      padding-left: 50px;
      padding-bottom: 30px;
    }

    .feature-3 {
      padding-left: 50px;
      padding-bottom: 30px;
    }

    .feature-4 {

      img {
        width: 95%;
      }
    }

    .feature-5 {
      img {
        padding-left: 50px;
      }
    }
  }

  .feature-page-2 {
    margin: 150px 50px 0 50px;

    .f-text-1 {
      h1 {
        font-size: 50px;
      }
    }
  }

  .feature-page-3 {
    gap: 0px 30px;
    margin-top: 150px;
  
    img {
      width: 100%
    }
  
    .feature-page3-img {
      margin-left: 50px;
    }
    
    .feature-page3-text {
      font-size: 40px;
      padding-right: 140px;
  
      h1 {
        width: 100%;
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .feature-page-1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      'feature-1'
      'feature-4'
      'feature-2'
      'feature-3'
      'feature-5'
    ;
    margin: 50px 20px 0px 20px;

    .feature-1 {
      padding-left: 0px;
      font-size: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }

    .feature-4 {
      padding-right: 0px;
      display: grid;
      place-items: center;
    }
  
    .feature-2 {
      padding: 20px 20px;
      font-size: 1.5em;
      text-align: center;
    }
  
    .feature-3 {
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px;
    }
  
    .feature-5 {
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        margin-top: 30px;
        padding-left: 0px;
        width: 100%;
      }
    }
  }

  .feature-page-2 {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    margin: 0px;
    margin-top: 50px;
    .f-text-1 {
      display: grid;
      place-content: center;
      grid-template-columns: 1fr 2.5fr;
      padding: 30px 30px 30px 30px;
      align-items: center;
      h1 {
        border-right: rgb(190, 186, 186) 2px solid;
        font-size: 50px;
      }
      h3 {
        font-size: 20px;
        color: rgb(190, 186, 186);
        padding-left: 20px;
      }
    
    }

    .giver-div {
      .giver-1-img {
        place-items: center;
      }
    }

    .taker-div {
      .taker-1-img {
        div {
          place-items: center;
        }
      }
    }

  }

  .feature-page-3 {
    grid-template-columns: 1fr;
    grid-template-areas:
      'feature-page3-text'
      'feature-page3-img';
    place-items: center;
    .feature-page3-img {
      grid-area: feature-page3-img;
      display: grid;
      place-items: center;
      place-content: center;
      margin-left: 0px;
    }
    .feature-page3-text {
      grid-area: feature-page3-text;
      padding: 0px 20px 0px 20px;
      font-size: 40px;
      margin-bottom: 100px;
    }

  }

  .feature-page4-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (max-width: 600px) {
  .feature-page-1 {

    .feature-1 {
      font-size: 1.5em;
      margin-top: 50px
    }
  
    .feature-2 {
      font-size: 1.2em;
    }
  
    .feature-3 {
      font-size: 1.2em;
    }
  }

  .feature-page-2 {
    .f-text-1 {
      display: grid;
      place-content: center;
      grid-template-columns: 1fr 2.5fr;
      padding: 30px 30px 30px 30px;
      align-items: center;
      h1 {
        border-right: rgb(190, 186, 186) 2px solid;
        font-size: 30px;
      }
      h3 {
        font-size: 15px;
        color: rgb(190, 186, 186);
        padding-left: 20px;
      }
    
    }
  }

  .feature-page-3 {
    margin-top: 100px;
  
    .feature-page3-text {
      font-size: 20px;
      margin-left: 10px;
    }
    
  }
}